alabaster==0.7.12
astroid==2.12.9
attrs==22.1.0
autopep8==1.7.0
Babel==2.10.3
beautifulsoup4==4.11.1
black==22.8.0
bleach==5.0.1
Brotli @ file:///Users/cbousseau/work/recipes/ci_py311/brotli-split_1677936346777/work
cachetools==5.2.0
certifi==2022.6.15
cffi @ file:///Users/cbousseau/work/recipes/ci_py311/cffi_1677903595907/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
commonmark==0.9.1
cryptography @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_905z2r5rpq/croot/cryptography_1694211573866/work
dill==0.3.5.1
docutils==0.17.1
google-api-core==2.10.0
google-api-python-client==2.60.0
google-auth==2.11.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.5.2
googleapis-common-protos==1.56.4
httplib2==0.20.4
idna==3.3
imagesize==1.4.1
importlib-metadata==6.8.0
iniconfig==1.1.1
isort==5.10.1
Jinja2==3.1.2
keyring==23.8.2
lazy-object-proxy==1.7.1
lxml @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b1f_3r_n5v/croot/lxml_1695058169427/work
MarkupSafe==2.1.1
mccabe==0.7.0
mypy-extensions==0.4.3
oauth2client==4.1.3
oauthlib==3.2.0
packaging==21.3
pathspec==0.10.1
pkginfo==1.8.3
platformdirs==2.5.2
pluggy==1.0.0
protobuf==4.21.5
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.9.1
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pydocstyle==6.1.1
pyflakes==2.5.0
Pygments==2.13.0
pylint==2.15.2
pyOpenSSL @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b8whqav6qm/croot/pyopenssl_1690223428943/work
pyparsing==3.0.9
PySocks @ file:///Users/cbousseau/work/recipes/ci_py311/pysocks_1677906386870/work
pytest==7.1.3
python-dateutil==2.8.2
pytz==2022.2.1
readme-renderer==37.0
requests @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_54zi68h2nb/croot/requests_1690400233316/work
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.5.1
rsa==4.9
sdist==0.0.0
six==1.16.0
snowballstemmer==2.2.0
soupsieve==2.3.2.post1
Sphinx==5.1.1
sphinx-autodoc-typehints==1.19.2
sphinx-rtd-theme==1.0.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.4
twine==4.0.1
typing_extensions==4.3.0
uritemplate==4.1.1
urllib3 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_068obtb882/croot/urllib3_1698257558009/work
webencodings==0.5.1
wrapt==1.14.1
zipp==3.8.1
